<div class="col-xs-12">
  <h3 class="screen-header">Patient Registration</h3>
   <form action="/action_page.php">
      <div class="form-group col-xs-4">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" name="firstName">
      </div>
      <div class="form-group col-xs-4">
        <label for="middleName">Middle Name:</label>
        <input type="text" class="form-control" id="middleName" placeholder="Enter middle name" name="middleName">
      </div>
      <div class="form-group col-xs-4">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" name="lastName">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>