.loginContainer {
	background: red; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(#4d5675, #979ba7); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#4d5675, #979ba7); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#4d5675, #979ba7); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#4d5675, #979ba7); /* Standard syntax */
}

.loginContainer {
	color: #FFF;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:30em;
    margin-top: -15em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    padding: 10px 20px;
    border: 1px solid #ccc;
}

.login-btn {
	width: 50%;
}

.login-header {
	text-align: center;
}