<div class="loginContainer col-xs-5">
  <div class="login-header col-xs-12">
    <h3>LOGIN</h3>
  </div>
   <form [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group col-xs-12">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" formControlName="username" >
      </div>
      <div class="form-group col-xs-12">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" formControlName="password" >
      </div>
      <div class="form-group col-xs-12 btn-group">
        <button [disabled]="!loginForm.valid"type="submit" class="login-btn btn btn-default">Login</button>
      </div>
      
    </form>
</div>