<div id="slideNav">
	<ul class="nav nav-pills nav-stacked">
    	<li><a routerLink="home" routerLinkActive="active">Home</a></li>
   	 	<li><a routerLink="patients" routerLinkActive="active">Patient</a></li>
    	<li><a routerLink="doctors" routerLinkActive="active">Doctor</a></li>
    	<li><a routerLink="clinics" routerLinkActive="active">Clinic</a></li> 
	</ul>
</div>