<app-header *ngIf="loggedIn"></app-header>

<div class="container-fluid">
  <div class="row">
    <app-side-nav *ngIf="loggedIn"></app-side-nav>
    <app-main-content></app-main-content>
  </div>
</div>

