/* You can add global styles to this file, and also import other style files */

/*styling for vertical nav bar container*/
#slideNav {
	background-color: #36455c; 
	color: #fff;
	width: 86px;  /*this value is hard coded */
	position: fixed;
	top: 52px; 
	height: 100%;
	z-index: 30;
	transition: .3s;
}

#slideNav:hover { 
	width: 200px;  /*this value is hard coded */
}

/*screen header style : this will reflect in all 
the module headers to be displayed for each processes; */
.screen-header {
	color:red;
	font-weight: bold;
	text-align: center;
}